.image-scroll-container {
    margin-top: 15%;
    z-index: 1;
}

.description-container {
    margin-bottom: 20px;
    display: relative;
    border: 1px solid green;
}

.image {
    z-index: 1;
    position: relative;
}
.description {
    z-index: -1;
    position: relative;
}

.random-image-container {
    left: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.random-image-container::-webkit-scrollbar {
    display: none;
}

.random-image-sidebar {
    z-index: 99;
    position: fixed;
    left: 0;
    display: flex;
    margin: 5% 0% 0% 5%;
    flex-direction: column;
    max-width: 300px;
    min-height: 700px;
    justify-content: space-between;
    align-items: flex-start;
}

.play-pause-button {
    border: none;
    background-color: inherit;
    color: #FF0000;
    font-size: 2em;
}

.arrows {
    z-index: 99;
    width: 40%;
}