.navMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navLink {
    color: #FF0000;
    display: flex;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
}

.mobile.navMenu {
    align-items: flex-start;

    @media min-width: 1024px { 
        display: none;
    }
}

.mobile.navLink {
    font-size: 2em;
    text-align: left;
}

.nonMobile.navMenu {
    align-items: flex-end;
    display: fixed;
}

.nonMobile.navLink {
  font-size: 2.5em;
}

.navLink:active {
    transition: all 250ms;
}