.hamburger {
    width: 20%;
    max-width: 35px;
    transition: all 0.1s;
    box-sizing: border-box;

    @media min-width: 1024px { 
      display: none;
    }
}

input[type="checkbox"]:checked ~ .testNav {
    transform: translateX(0);
} 

input[type=checkbox] {
    transition: all 250ms;
    box-sizing: border-box;
    display: none;
}

.toggleHamburger {
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}

#mobileNavbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    background-color: #fdff00;
    transform: translateX(-240px);
    transition: transform 250ms ease-in-out;
}

.mobileHeader{
    display: flex;
    justify-content: space-between;
    min-width: 80vw;
    margin-top: 10%;
}

.testNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    background-color: #fdff00;
    transform: translateX(-240px);
    transition: transform 250ms ease-in-out;
}

.mobile.navMenu {
    align-items: start;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

    @media min-width: 1024px { 
        display: none;
    }
}

.mobile.navLink {
    color: black;
    display: flex;
    font-size: 2em;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
    text-align: left;
}

.nonMobile.navMenu {
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-direction: column;
}

.nonMobile.navLink {
  color: black;
  display: flex;
  font-size: 1.5em;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}