.hamburger {
    width: 20%;
    max-width: 35px;
    transition: all 0.1s;
    box-sizing: border-box;

    @media min-width: 1024px { 
      display: none;
    }
}

input[type="checkbox"]:checked ~ .testNav {
    transform: translateX(0);
} 

input[type=checkbox] {
    transition: all 250ms;
    box-sizing: border-box;
    display: none;
}

.navLink:active {
    transition: all 250ms;
}

.button {
    transition: background-color 0.5s ease-out;
}

.toggleHamburger {
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}

#mobileNavbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    background-color: #fdff00;
    transform: translateX(-240px);
    transition: transform 250ms ease-in-out;
}

.mobileHeader{
    display: flex;
    justify-content: space-between;
    min-width: 80vw;
    margin-top: 10%;
}

.testNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    z-index: 99;
    background-color: #fdff00;
    transform: translateX(-240px);
    transition: transform 250ms ease-in-out;
}

.testNavOuter {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    z-index: 99;
}

.mobile.navMenu {
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

    @media min-width: 1024px { 
        display: none;
    }
}

.mobile.navLink {
    color: black;
    display: flex;
    font-size: 2em;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
    text-align: left;
}

.nonMobile.navMenu {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
}

.nonMobile.navLink {
  color: black;
  display: flex;
  font-size: 1.5em;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

.visible {
    display: flex;
}

.hidden {
    display: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}
  
  .slide.active {
    opacity: 1;
    transition-duration: 2s;
    transform: scale(1.08);
  }

.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.image-scroll-container {
    margin-top: 15%;
    z-index: 1;
}

.description-container {
    margin-bottom: 20px;
    display: relative;
    border: 1px solid green;
}

.image {
    z-index: 1;
    position: relative;
}
.description {
    z-index: -1;
    position: relative;
}